<template>
  <div class="edit-store-info">
    <div>
      <EditStoreInfo :storeToEdit="client" @emitValidateEditClient="editClient" />
     
    </div>

  </div>
</template>

<script>
import EditStoreInfo from "./EditStoreInfo.vue";
import api from "@/api";

export default {
  name: "EditStorePage",
  components: {
    EditStoreInfo,
    
  },
  data() {
    return {
      client: {},
      clientId: this.$route.params.id
    }
  },
  mounted: function() {
    this.loadClient();
  },
  methods: {
    async loadClient() {
      this.client = await api.generateSingleClientData(this.clientId);
    },
  
    async editClient(client) {
      console.log("Cliente")
      await api.updateClientData(client);
    },  
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>





</style>
