<template>
  <div class="edit-store-info">
    <h1>{{ msg }}</h1>

    <p class="edit-fields">
      CIF:
      <input
        type="text"
        @focus="cifError = false"
        class="clientCif"
        :class="{ 'error-input': cifError }"
        @keyup.enter="validateFields"
        v-model="editClient.cif"
        placeholder="CIF del cliente"
      />
    </p>
    <p class="error-text" v-if="cifError">Introduc un CIF</p>
    <p class="edit-fields">
      Nombre de cliente:
      <input
        type="text"
        @focus="nameError = false"
        class="clientName"
        :class="{ 'error-input': nameError }"
        @keyup.enter="validateFields"
        v-model="editClient.contact_name"
        placeholder="Nombre del cliente"
      />
    </p>
    <p class="error-text" v-if="nameError">Debes indicar nombre del cliente</p>
    <p class="edit-fields">
      Nombre de tienda:
      <input
        type="text"
        @focus="storeNameError = false"
        class="clientShopName"
        @keyup.enter="validateFields"
        v-model="editClient.store_name"
        placeholder="Nombre de la tienda"
      />
    </p>
    <p class="error-text" v-if="storeNameError">
      Debes indicar nombre de la tienda
    </p>
    <p class="edit-fields">
      Direccion:
      <input
        type="text"
        @focus="addressError = false"
        class="clientAdress"
        @keyup.enter="validateFields"
        v-model="editClient.address"
        placeholder="Dirección del cliente"
      />
    </p>
    <p class="error-text" v-if="addressError">Introduce una dirección</p>
    <p class="edit-fields">
      Codigo postal:
      <input
        type="text"
        @focus="postalCodeError = false"
        class="clientPC"
        @keyup.enter="validateFields"
        v-model="editClient.postal_code"
        placeholder="Codigo postal del cliente"
      />
    </p>
    <p class="error-text" v-if="postalCodeError">Indica C.P</p>
    <p class="edit-fields">
      Ciudad:
      <input
        type="text"
        @focus="cityError = false"
        class="clientCity"
        @keyup.enter="validateFields"
        v-model="editClient.city"
        placeholder="Ciudad del cliente"
      />
    </p>
    <p class="error-text" v-if="cifError">Indica ciudad</p>
    <p class="edit-fields">
      Numero de teléfono:
      <input
        type="text"
        @focus="phoneNumberError = false"
        class="clientNumber"
        @keyup.enter="validateFields"
        v-model="editClient.phone_number"
      />
    </p>
    <p class="error-text" v-if="phoneNumberError">
      Introduce numero de telefono
    </p>
    <p class="edit-fields">
      Email:
      <input
        type="email"
        @focus="
          emailError = false;
          emailInvalidError = false;
        "
        title="new-client"
        class="clientMail"
        :class="{ 'error-input': emailError || emailInvalidError }"
        @keyup.enter="validateFields"
        v-model="editClient.email"
        placeholder="Ejemplo: perpetum@gmail.com"
      />
    </p>
    <p class="error-text" v-if="emailError">Introduce un correo electrónico</p>
    <p class="error-text" v-if="emailInvalidError">Introduce un email válido</p>
    <p class="edit-fields">
      Comisión:
      <input
        type="select"
        @focus="commissionError = false"
        title="new-client"
        class="clientCommission"
        @keyup.enter="validateFields"
        v-model="editClient.commission"
        placeholder="Comisión"
      />
    </p>
    <p class="error-text" v-if="commissionError">Indica la comision</p>
    <p class="edit-feilds">
      Tipo de cliente:
      <select
        name="Seleccion"
        class="clientType"
        @keyup.enter="validateFields"
        v-model="editClient.client_type"
        placeholder="Selecciona un tipo de cliente"
      >
        <option value="Influencer">Influencer</option>
        <option value="Tienda fisica ">Tienda fisica</option>
        <option value="Tienda Online ">Tienda online</option>
      </select>
    </p>
    <p class="error-text" v-if="clientTypeError">
      Debes indicar el tipo de cliente
    </p>

    <div class="validate-client">
      <a @click="emitValidateEditClient">Modificar cliente</a>
      <a @click="emitBackToStoresList">Volver a la lista</a>
    </div>
  </div>
</template>

<script>
export default {
  name: "EditStoreInfo",

  data() {
    return {
      msg: "",

      editClient: {
        cif: this.storeToEdit.cif,
        contact_name: this.storeToEdit.contact_name,
        store_name: this.storeToEdit.store_name,
        address: this.storeToEdit.address,
        postal_code: this.storeToEdit.postal_code,
        city: this.storeToEdit.city,
        phone_number: this.storeToEdit.phone_number,
        email: this.storeToEdit.email,
        client_type: this.storeToEdit.client_type,
        commission: this.storeToEdit.commission,
      },

      cifError: false,
      nameError: false,
      storeNameError: false,
      addressError: false,
      postalCodeError: false,
      cityError: false,
      phoneNumberError: false,
      emailError: false,
      emailInvalidError: false,
      clientTypeError: false,
      commissionError: false,
      error: false,
    };
  },
  props: {
    storeToEdit: {
      type: Object,
    },
  },

  methods: {
    emitBackToStoresList() {
      this.$router.push("/storesinfo");
    },
    emitValidateEditClient() {
      this.validateFields();
      if (this.error === false) {
        this.$emit("emitValidateEditClient", this.editClient);
      }
      //this.$emit("emitValidateeditClient", this.editClient);
    },
    validateEmail(email) {
      var re = new RegExp(/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/);
      const result = re.test(String(email).toLowerCase());
      return result;
    },
    validateFields() {
      if (this.editClient.cif === null) {
        this.error = true;
        this.cifError = true;
      }
      if (this.editClient.contact_name === null) {
        this.error = true;
        this.nameError = true;
      }
      if (this.editClient.storeName === null) {
        this.error = true;
        this.storeNameError = true;
      }
      if (this.editClient.address === null) {
        this.error = true;
        this.addressError = true;
      }
      if (this.editClient.postalCode === null) {
        this.error = true;
        this.postalCodeError = true;
      }
      if (this.editClient.city === null) {
        this.error = true;
        this.cityError = true;
      }
      if (this.editClient.phoneNumber === null) {
        this.error = true;
        this.phoneNumberError = true;
      }
      if (this.editClient.email === null) {
        this.error = true;
        this.emailError = true;
      }
      if (!this.validateEmail(this.editClient.email)) {
        this.error = true;
        this.emailInvalidError = true;
      }
      if (this.editClient.commission === null) {
        this.error = true;
        this.commissionError = true;
      }
      if (this.editClient.clientType === null) {
        this.error = true;
        this.clientTypeError = true;
      }
      this.error = false;
    },
   
  },
   watch: {
    storeToEdit: {
      immediate: true,
      handler: function(storeToEdit) {
        this.editClient = JSON.parse(JSON.stringify(storeToEdit));
        
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.stores {
  margin-top: 1.5rem;
  border-top: black 5px double;
}
.edit-fields{
      padding: 10px;
    position: relative;
    width: 70%;
    margin-left: 24rem;
    text-align: left;
    
}

.edit-fields input{
   float: right;
   margin-right: 23rem;

}
.edit-fields select{
   float: right;
   margin-right: 23rem;

}
a {
  display: inline-block;
  margin-top: 1.2rem;
  text-decoration: none;
  background-color: #313537;
  color: #fff;
  padding: 5px 15px 5px 15px;
  border-top: 1px solid #313537;
  border-right: 1px solid #313537;
  border-bottom: 1px solid #313537;
  border-left: 1px solid #313537;
  cursor: pointer;
}
a:hover {
  display: inline-block;
  margin-top: 1.2rem;
  text-decoration: none;
  background-color: #fff;
  color: #313537;
  padding: 5px 15px 5px 15px;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
}
</style>
