<template>
  <div class="client-Page" >
    <h1>Clientes</h1>
    <div v-if="clientData.length === 0">
      <h3>No hay clientes para mostrar.</h3>
    </div>
    <div v-else v-for="client in clientData"  :key="client.id">
      <ClientItem :receivedClient="client" />
    </div>
  </div>
</template>

<script>
import ClientItem from "./ClientItem.vue";
import api from "@/api";

export default {
  name: "ClientPage",
  components: {
    ClientItem
  },
  data() {
    return {
      clientData: {
        type: Array
      }
    }
  },
  mounted: function() {
    this.loadClients();
  },  
  methods: {
    async loadClients() {
      this.clientData = await api.generateClientData();
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.client-Page{
  margin-top: 1.5rem;
  border-top: black 5px double;
}


</style>