<template>
  <div id="ClientItem">
    <router-link :to="urlClient">{{client}}</router-link>
    <button class="delete-button" @click="deleteClients">Borrar cliente</button>
  </div>
</template>

<script>
import api from "@/api";
export default {
  name: "ClientItem",
  props: {
    receivedClient: {
      type: Object
    }
  },
  methods:{
    async deleteClients() {
       await api.deleteClientData();
    }
  },
  computed: {
    client: function() {
      return `${this.receivedClient.contactName} (${this.receivedClient.city})`;
    },
    urlClient: function() {
      return `/client/${this.receivedClient.id}`;
    }
  }
};
</script>

<style scoped>
</style>
