<template>
  <div class="product">
    <ProductItem :receivedProduct="product"/>
  </div>
</template>

<script>
import ProductItem from "./ProductItem.vue";
import api from "@/api"

export default {
  name: 'ProductPage',
  components: {
    ProductItem
  },
  data() {
    return {
      product: {},
      productId: this.$route.params.id
    }
  },
  mounted: function() {
    this.loadProduct();
  },
  methods: {
    async loadProduct() {
      this.product = await api.generateProductData(this.productId);
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
