<template>
  <div class="productItem">
    <h1>{{localProduct.item_name}}</h1>
    <img class="product-img" v-bind:src="localProduct.photo" />
    <p class="add-fields">Número de referencia: 
    <input type="text" title="item-name" class="itemReferenceNumber" v-model="localProduct.reference_number" placeholder="Nº referencia del producto" /></p>
    <p class="add-fields">Nombre del producto: 
    <input type="text" title="item-name" class="itemName" v-model="localProduct.item_name" placeholder="Nombre del producto" /></p>
    <p class="add-fields">Color: 
    <input type="text" title="item-name" class="itemColour" v-model="localProduct.colour" placeholder="Color del producto" /></p>
    <p class="add-fields">Descripción: 
    <input type="text" title="item-name" class="itemDesc" v-model="localProduct.description" placeholder="Descripción del producto" /></p>
    <p class="add-fields">Tamaño: 
    <input type="text" title="item-name" class="itemSize" v-model="localProduct.size" placeholder="Tamaño del producto" /></p>
    <p class="add-fields">Talla: 
    <input type="text" title="item-name" class="itemTalla" v-model="localProduct.talla" placeholder="Talla del producto" /></p>
    <p class="add-fields">Precio: 
    <input type="text" title="item-name" class="itemPrize" v-model="localProduct.price" placeholder="Nombre del producto" /></p>
  </div>
</template>

<script>

export default {
  name: 'ProductItem',
  data() {
    return {
      baseImgUrl: "@/assets/",
      productImg: "",
      localProduct: {
        id: null,
        reference_number: null,
        item_name: null,
        colour: null,
        description: null,
        size: null,
        talla: null,
        price: null,
        photo: null
      }
    }
  },
  props: {    
    receivedProduct: {
      type: Object
    },
  },
  watch: {
    receivedProduct: {
      immediate: true,
      handler: function(receivedProduct) {
        this.localProduct = JSON.parse(JSON.stringify(receivedProduct));
       
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.product-img {
  width: 119px;
  height: 135px;
}
.add-fields{
      padding: 10px;
    position: relative;
    width: 70%;
    margin-left: 24rem;
    text-align: left;
    
}

.add-fields input{
   float: right;
   margin-right: 23rem;

}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
