<template>
  <div class="prefacturalist">
    <h1>LISTA</h1>
  </div>
</template>

<script>

export default {
  name: 'PrefacturaList',
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
