<template>
  <div class="prefactura">
    <PrefacturaDates class="dates" />
    <PrefacturaList />
  </div>
</template>

<script>
import PrefacturaDates from "./PrefacturaDates.vue";
import PrefacturaList from "./PrefacturaList.vue";
import api from "@/api"

export default {
  name: 'ProductPage',
  components: {
    PrefacturaDates,
    PrefacturaList
  },
  data() {
    return {
      clientId: this.$route.params.id
    }
  },
  mounted: function() {
    this.loadProduct();
  },
  methods: {
    async loadProduct() {
      this.product = await api.generateProductData(this.productId);
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.dates {
  margin-top: 2rem;
}
</style>
