<template>
  <div class="prefacturadates">
    De: <input type="date" class="fromDate" v-model="fromDate" placeholder="DD/MM/AAAA">
    A: <input type="date" v-model="toDate" placeholder="DD/MM/AAAA"><br />
    <a @click="loadPrefactura" class="a-button">Cargar</a>
  </div>
</template>

<script>

export default {
  name: 'PrefacturaDates'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
input[type=date] {
  width: 7rem;
  height: 1rem;
}

.a-button {
  display: inline-block;
  margin-top: 1.2rem;
  text-decoration: none;
  background-color: #313537;
  color: #fff;
  padding: 5px 15px 5px 15px;
  border-top: 1px solid #313537;
  border-right: 1px solid #313537;
  border-bottom: 1px solid #313537;
  border-left: 1px solid #313537;
  cursor: pointer;
}

.a-button:hover {
  background-color: #fff;
  color: #313537;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
}

.fromDate {
  margin-right: 2rem;
}
</style>
