<template>
  <div class="catalogue">
    <h1>Catálogo</h1>
    <div v-if="CatalogueData.length === 0">
      <h3>No hay productos en esta tienda.</h3>
    </div>
    <div v-else v-for="product in CatalogueData" :key="product.id">
      <CatalogueItem :product="product" />
    </div>
    <a class="a-button" @click="goAddProduct" >Nuevo</a>
  </div>
</template>

<script>
import CatalogueItem from "./CatalogueItem.vue";
import api from "@/api";

export default {
  name: 'CataloguePage',
  components: {
    CatalogueItem
  },
  data() {
    return {
      CatalogueData: {
        type: Array
      }
    }
  },
  mounted: function() {
    this.loadProducts();
  },
  methods: {
    async loadProducts() {
      this.CatalogueData = await api.generateCatalogueData();
      
    },
    goAddProduct() {
      this.$router.push("/addproduct");
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.catalogue {
  margin-top: 1.5rem;
  border-top: black 5px double;
}

.a-button {
  display: inline-block;
  margin-top: 1.2rem;
  text-decoration: none;
  background-color: #313537;
  color: #fff;
  padding: 5px 15px 5px 15px;
  border-top: 1px solid #313537;
  border-right: 1px solid #313537;
  border-bottom: 1px solid #313537;
  border-left: 1px solid #313537;
  cursor: pointer;
}

.a-button:hover {
  display: inline-block;
  margin-top: 1.2rem;
  text-decoration: none;
  background-color: #fff;
  color: #313537;
  padding: 5px 15px 5px 15px;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
}
</style>
