<template>
  <div class="catalogue-item">
    <router-link class="product-name" :to="urlProduct">{{
      this.product.item_name
    }}</router-link>
    <router-link class="product-price" :to="urlProduct"
      >{{ this.product.price }} €</router-link
    >
    <router-link class="edit-product-list" :to="urlEdit">Editar</router-link>
  </div>
</template>

<script>
export default {
  name: "CatalogueItem",
  data() {
    return {
      Product: {
        price: null,
      },
    };
  },
  props: {
    product: {
      type: Object,
    },
  },
  computed: {
    urlProduct: function() {
      return `/product/${this.product.id}`;
    },
    urlEdit: function() {
      return `/editproduct/${this.product.id}`;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.catalogue-item {
  display: inline-block;
  width: 50%;
  margin-left: 0 auto;
}
.product-name {
  color: #444;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.1em;
  padding: 5px 15px 5px 15px;
  line-height: 19px;
  border-bottom: 2px solid transparent;
  float: left;
}
.product-price {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  padding: 5px 15px 5px 15px;
}
.edit-product-list {
  float: right;
  text-decoration: none;
  background-color: #313537;
  color: #fff;
  padding: 5px 15px 5px 15px;
  border-top: 1px solid #313537;
  border-right: 1px solid #313537;
  border-bottom: 1px solid #313537;
  border-left: 1px solid #313537;
  cursor: pointer;
}
.edit-product-list:hover {
  
  text-decoration: none;
  background-color: #fff;
  color: #313537;
  padding: 5px 15px 5px 15px;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
}
</style>
