<template>
  <div class="catalogue-product">
    <h1>{{msg}}</h1> 
    
    <div v-for="simpleProduct in productsData" :key="simpleProduct.id">
      <CatalogueProductItem :simpleProduct="simpleProduct"/> 
    </div>
  </div>
</template>

<script>
import CatalogueProductItem from "./CatalogueProductItem.vue"
export default {
  name: 'CatalogueProduct',
  components: {
    CatalogueProductItem,
  },
  data() {
    return {
      msg:'Hola Productos',
      simpleProduct: {
        type: Array
      }
    }
  },
  props: {
    productsData: {
      type: Object,
      
  },
  methods: {
    onClick(product) {
      this.$emit('click-to-info', product)
    },
   },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
