<template>
  <div class="product-item">
    <h1>{{msg}}</h1> 
      <p @click="onClick">
        {{ fullProduct }}
      </p>
  </div>
</template>

<script>
export default {
  name: 'CatalogueProductItem',
  props: {
    msg: {
      type: String,
    },
    simpleProduct: { 
      type: Object
    }
  },
   computed: {
    fullProduct: function() {
      return `${this.simpleProduct.id}- ${this.simpleProduct.itemName}`;
      },
    },
   methods: {
    onClick() {
      this.$emit('click-to-info', this.simpleProduct)
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
  cursor: pointer;
}
</style>

