<template>
  <div class="stores-info">
    <h1>Tiendas</h1>
    <div v-if="stores.length === 0">
      <h3>No hay productos en esta tienda.</h3>
    </div>
    <div v-else v-for="store in stores" :key="store.id">
      <StoresInfoItem :store="store" />
    </div>
    <a @click="goAddStore">Añade nuevo cliente</a>
    
   </div>
</template>

<script>
import StoresInfoItem from "./StoresInfoItem.vue";
import api from "@/api";

export default {
  name: 'StoresInfoPage',
  components: {
    StoresInfoItem,
    
  },
  data() {
    return {
      addClient:false,
      editClient:false,

      stores: {
        type: Array
      }
    }
  },
  props:{
    store:{
      type: Object,
    }
  },
  mounted: function() {
    this.loadStores();
  },
  methods: {
    goAddStore() {
      this.$router.push("/addstore");
    },
    async loadStores() {
      this.stores = await api.generateClientData();
    },
    

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.stores-info  {
  margin-top: 1.5rem;
  border-top: black 5px double;
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  display: inline-block;
  margin-top: 1.2rem;
  text-decoration: none;
  background-color: #313537;
  color: #fff;
  padding: 5px 15px 5px 15px;
  border-top: 1px solid #313537;
  border-right: 1px solid #313537;
  border-bottom: 1px solid #313537;
  border-left: 1px solid #313537;
  cursor: pointer;
}
a:hover {
  display: inline-block;
  margin-top: 1.2rem;
  text-decoration: none;
  background-color: #fff;
  color: #313537;
  padding: 5px 15px 5px 15px;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
}
</style>
