<template>
  <div class="stores-info-item">
    <router-link class="stores-list" :to="urlStore">{{store.store_name}}</router-link> 
    <router-link class="edit-stores-list" :to="urlEdit">Editar</router-link>
    
  </div>
</template>

<script>

import api from "@/api";
export default {
  name: "StoresInfoItem",

  props: {
    store: {
      type: Object
    }
  },
  
  
  methods: {
    async deleteClients() {
      await api.deleteClientData(this.store.id);
    },
    
  },
  computed: {
    urlStore: function() {
      return `/store/${this.store.id}`;
    },
    urlEdit: function() {
      return `/editstore/${this.store.id}`;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.stores-info-item{
  display: inline-block;
  width: 20%;
  margin-left: 0 auto;
}

.stores-list{
  color: #444;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .1em;
    padding: 5px 15px 5px 15px;
    line-height: 19px;
    border-bottom: 2px solid transparent;
    float: left;
}

.edit-stores-list {
  
  
  text-decoration: none;
  background-color: #313537;
  color: #fff;
  padding: 5px 15px 5px 15px;
  border-top: 1px solid #313537;
  border-right: 1px solid #313537;
  border-bottom: 1px solid #313537;
  border-left: 1px solid #313537;
  cursor: pointer;
  float: right;
}
.edit-stores-list:hover {
 
  text-decoration: none;
  background-color: #fff;
  color: #313537;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
}
</style>