<template>
  <div class="add-edit-store-info">
    <div>
      <AddProductInfo @emitValidateNewProduct="addNewProduct" />
     
    </div>

  </div>
</template>

<script>
import AddProductInfo from "./AddProductInfo.vue";
import api from "@/api";

export default {
  name: "AddEditStorePage",
  components: {
    AddProductInfo,
    
  },

  methods:{
    async addNewProduct(newProduct) {
      console.log("Cliente")
      await api.createProduct(newProduct);
    },  
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>





</style>
