<template>
  <div class="add-product">
    <h1>{{ msg }}</h1>
    
    <p class="add-fields">
      Referencia:
      <input
        type="text"
        @focus="referenceError = false"
        class="item-reference"
        @keyup.enter="validateFields"
        v-model="newProduct.reference_number"
        placeholder="Nombre de la tienda"
      />
    </p>
    <p class="error-text" v-if="referenceError">
      Debes indicar una referencia
    </p>
    <p class="add-fields">
      Nombre del producto:
      <input
        type="text"
        @focus="itemNameError = false"
        class="item-name"
        @keyup.enter="validateFields"
        v-model="newProduct.item_name"
        placeholder="Dirección del cliente"
      />
    </p>
    <p class="error-text" v-if="itemNameError">
      Introduce un nombre para el artículo
    </p>
    <p class="add-fields">
      Colour:
      <input
        type="text"
        @focus="colourError = false"
        class="item-colour"
        @keyup.enter="validateFields"
        v-model="newProduct.colour"
        placeholder="Color"
      />
    </p>
    <p class="error-text" v-if="colourError">Color del producto</p>
    <p class="add-fields">
      Descripción:
      <input
        type="text"
        @focus="descriptionError = false"
        class="item-desc"
        @keyup.enter="validateFields"
        v-model="newProduct.description"
        placeholder="Descripcion"
      />
    </p>
    <p class="error-text" v-if="descriptionError">Como es ?</p>
    <p class="add-fields"> 
      Tamaño:
      <input
        type="text"
        @focus="sizeError = false"
        class="item-size"
        @keyup.enter="validateFields"
        v-model="newProduct.size"
        placeholder="Indica un tamaño orientativo"
      />
    </p>
    <p class="error-text" v-if="sizeError">
      Tamaño del producto
    </p>
    <p class="add-fields">
      talla:
      <input
        type="text"
        @focus="tallaError = false"
        class="item-talla"
        @keyup.enter="validateFields"
        v-model="newProduct.talla"
        placeholder="Indica la talla"
      />
    </p>
    <p class="error-text" v-if="tallaError">
      Talla con formato letra
    </p>
    <p class="add-fields">
      precio:
      <input
        type="text"
        @focus="priceError = false"
        class="item-price"
        @keyup.enter="validateFields"
        v-model="newProduct.price"
        placeholder="Precio del producto"
      />
    </p>
    <p class="error-text" v-if="priceError">
      PrecioS
    </p>
    <p class="add-fields">
      photo:
      <input
        type="text"
        @focus="photoError = false"
        class="item-price"
        @keyup.enter="validateFields"
        v-model="newProduct.photo"
        placeholder="Foto del artículo"
      />
    </p>
    <p class="error-text" v-if="photoError">
      foto
    </p>

    <div class="validate-client">
      <a @click="emitValidateNewProduct">Dar de alta</a>
      <a @click="emitBackToCatalogue">Volver a la lista</a>

      <!--<button @click="emitEDitClient">Modificar cliente</button>-->
    </div>
  </div>
</template>

<script>
export default {
  name: "newProductInfo",

  data() {
    return {
      msg: "",
      newProduct: {
       
        reference_number: null,
        item_name: null,
        colour: null,
        description: null,
        size: null,
        talla: null,
        price: null,
        photo: null,
        category_id: null
      },
      referenceError: false,
      itemNameError: false,
      colourError: false,
      descriptionError: false,
      sizeError: false,
      tallaError: false,
      priceError: false,
      photoError: false,
    };
    
  },
  methods: {
    emitBackToCatalogue() {
      this.$router.push("/catalogue");
    },
    emitValidateNewProduct() {
      this.validateFields();
      if (this.error === false) {
        this.$emit("emitValidateNewProduct", this.newProduct);
      }
      //this.$emit("emitValidatenewProduct", this.newProduct);
    },
    validateEmail(email) {
      var re = new RegExp(/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/);
      const result = re.test(String(email).toLowerCase());
      return result;
    },
    validateFields() {
      
      if (this.newProduct.reference_number === null) {
        this.error = true;
        this.referenceError = true;
      }
      if (this.newProduct.item_name === null) {
        this.error = true;
        this.itemNameError = true;
      }
      if (this.newProduct.colour === null) {
        this.error = true;
        this.colourError = true;
      }
      if (this.newProduct.description === null) {
        this.error = true;
        this.descriptionError = true;
      }
      if (this.newProduct.size === null) {
        this.error = true;
        this.sizeError = true;
      }
      if (this.newProduct.talla === null) {
        this.error = true;
        this.tallaError = true;
      }
      if (this.newProduct.price === null) {
        this.error = true;
        this.priceError = true;
      }
      if (this.newProduct.photo === null) {
        this.error = true;
        this.photoError = true;
      }
      this.error = false;
    },
  },
  watch: {
    productToEdit: {
      immediate: true,
      handler: function(productToEdit) {
        this.newProduct = JSON.parse(JSON.stringify(productToEdit));
        
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.stores {
  margin-top: 1.5rem;
  border-top: black 5px double;
}
.add-fields{
      padding: 10px;
    position: relative;
    width: 70%;
    margin-left: 24rem;
    text-align: left;
    
}

.add-fields input{
   float: right;
   margin-right: 23rem;

}
a {
  display: inline-block;
  margin-top: 1.2rem;
  text-decoration: none;
  background-color: #313537;
  color: #fff;
  padding: 5px 15px 5px 15px;
  border-top: 1px solid #313537;
  border-right: 1px solid #313537;
  border-bottom: 1px solid #313537;
  border-left: 1px solid #313537;
  cursor: pointer;
}
a:hover {
  display: inline-block;
  margin-top: 1.2rem;
  text-decoration: none;
  background-color: #fff;
  color: #313537;
  padding: 5px 15px 5px 15px;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
}
</style>
