<template>
  <div class="saleBasketItem">
    {{this.item.chosenProduct.item_name}}
    <input type="number" min="1" v-model="item.quantity" placeholder="Cantidad" :max="item.chosenProduct.stock" required>
    <input type="date" min="1" v-model="item.date" placeholder="DD/MM/AAAA" required>
    <div v-if="item.quantity > item.chosenProduct.stock" class="warning-selling-too-much">No hay tantos productos en stock.</div>
    <img src="@/assets/delete.png" alt="" @click="deleteFromBasket">
  </div>
</template>

<script>
export default {
  name: "SaleBasketItem",
  props: {
    item: {
      type: Object
    },
    errors: {
      quantity: null,
      date: null
    }
  },
  computed: {
    urlStore: function() {
      return `/store/${this.clientId}`;
    }
  },
  methods: {
    deleteFromBasket() {
      this.$emit("emitProductToDelete", this.item);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
.depositBasketItem {
  margin-top: 0.7rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  margin-right: 0.3rem;
  width: 3.3rem;
  height: 1rem;
}

input[type=date] {
  width: 7rem;
  height: 1rem;
}

input {
  vertical-align: middle;
}

.warning-selling-too-much {
  color: #ff0000;
  font-weight: bold;
}

img {
  width: 25px;
  vertical-align: middle;
  margin-left: 0.2rem;
  cursor: pointer;
}
</style>