<template>
  <div class="sale-Page" >
    <h1>Venta</h1>
    <SaleProductList @emitProductToAdd="addProductToBasket" :clientId="this.clientId"/>
    <SaleBasketList v-if="basket.length > 0" :basket="this.basket" @confirmSale="confirmSale"/>
  </div>
</template>

<script>
import SaleProductList from "./SaleProductList.vue";
import SaleBasketList from "./SaleBasketList.vue";
import api from "@/api";

export default {
  name: "SalePage",
  components: {
    SaleProductList,
    SaleBasketList
  },
  data() {
    return {
      basket: [],
      clientId: parseInt(this.$route.params.id)
    }
  },
  computed: {
    urlStore: function() {
      return `/store/${this.clientId}`;
    }
  },
  methods: {
    addProductToBasket(chosenProduct) {
      if(!this.isSelected(chosenProduct)) {
        this.basket.push({chosenProduct, quantity: null, date: null });
      }
    },
    isSelected(product) {
      for(var i  = 0; i < this.basket.length; i++) {
        if (this.basket[i].chosenProduct.id === product.id) {
          return true;
        }
      }
      return false;
    },
    async confirmSale() {
      await api.addSale(this.clientId, this.basket);
      this.$router.push(this.urlStore);
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.client-Page{
  margin-top: 1.5rem;
  border-top: black 5px double;
}
</style>