<template>
  <div class="sale-basket-list">
    <h3>Productos seleccionados</h3>
    <div v-for="item in basket" :key="item.id">
      <SaleBasketItem :item="item" @emitProductToDelete="deleteProductFromBasket"/>
    </div>
    <a @click="confirmSale" class="a-button">Confirmar</a>
  </div>
</template>

<script>
import SaleBasketItem from "./SaleBasketItem.vue";

export default {
  name: 'SaleBasketList',
  components: {
    SaleBasketItem
  },
  props: {
    basket: Array
  },
  methods: {
    confirmSale() {
      let correct = 1;
      for(let i = 0; i < this.basket.length; i++) {
        if(this.basket[i].chosenProduct.stock < this.basket[i].quantity) {
          correct = 0;
        }
      }
      if (correct) {
        console.log("Basket:", this.basket)
        this.$emit("confirmSale", this.basket);
      }
    },
    deleteProductFromBasket(item) {
      this.basket.splice(this.basket.indexOf(item), 1)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.catalogue {
  margin-top: 1.5rem;
  border-top: black 5px double;
}

.a-button {
  display: inline-block;
  margin-top: 1.2rem;
  text-decoration: none;
  background-color: #313537;
  color: #fff;
  padding: 5px 15px 5px 15px;
  border-top: 1px solid #313537;
  border-right: 1px solid #313537;
  border-bottom: 1px solid #313537;
  border-left: 1px solid #313537;
  cursor: pointer;
}

.a-button:hover {
  display: inline-block;
  margin-top: 1.2rem;
  text-decoration: none;
  background-color: #fff;
  color: #313537;
  padding: 5px 15px 5px 15px;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
}
</style>
