<template>
  <div class="saleProductItem">
    <a @click="emitProductToAdd">{{product}}</a>
  </div>
</template>

<script>
export default {
  name: "SaleProductItem",
  props: {
    item: {
      type: Object
    }
  },
  methods: {
    emitProductToAdd() {
      this.$emit("emitProductToAdd", this.item);
    }
  },
  computed: {
    product: function() {
      return `${this.item.item_name} - ${this.item.stock}`;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  cursor: pointer;
}
</style>