<template>
  <div class="sale-product-list">
    <h3>Productos en stock</h3>
    <div v-if="stock.length === 0">
      <h3>No hay productos en esta tienda.</h3>
    </div>
    <div v-else v-for="product in stock" :key="product.id">
      <SaleProductItem v-if="product.stock > 0" :item="product" @emitProductToAdd="emitProductToAdd" />
    </div>
  </div>
</template>

<script>
import SaleProductItem from "./SaleProductItem.vue";
import api from "@/api";

export default {
  name: 'SaleProductList',
  components: {
    SaleProductItem
  },
  data() {
    return {
      stock: {
        type: Array
      }
    }
  },
  props: {
    clientId: Number
  },
  mounted: function() {
    this.loadStoreItems();
  },
  methods: {
    async loadStoreItems() {
      this.stock = await api.getStoreStock(this.clientId);
    },
    emitProductToAdd(product) {
      this.$emit("emitProductToAdd", product);
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.catalogue {
  margin-top: 1.5rem;
  border-top: black 5px double;
}

.a-button {
  display: inline-block;
  margin-top: 1.2rem;
  text-decoration: none;
  background-color: #313537;
  color: #fff;
  padding: 5px 15px 5px 15px;
  border-top: 1px solid #313537;
  border-right: 1px solid #313537;
  border-bottom: 1px solid #313537;
  border-left: 1px solid #313537;
  cursor: pointer;
}

.a-button:hover {
  display: inline-block;
  margin-top: 1.2rem;
  text-decoration: none;
  background-color: #fff;
  color: #313537;
  padding: 5px 15px 5px 15px;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
}
</style>
