<template>
  <div class="store-item">
    {{product}}
  </div>
</template>

<script>
export default {
  name: "StoreItem",
  props: {
    item: {
      type: Object
    }
  },
  computed: {
    product: function() {
      return `${this.item.item_name} - ${this.item.stock}`;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>