<template>
  <div class="store">
    <h1>{{this.store.city}}</h1>
    <div v-if="stock.length === 0">
      <h3>No hay productos en esta tienda.</h3>
    </div>
    <div v-else v-for="item in stock" :key="item.id">
      <StoreItem :item="item" v-if="item.stock > 0"/>
    </div>
    <a @click="makeDeposit">Nuevo depósito</a>
    <a @click="makeSale" v-if="stock.length > 0">Vender depósitos</a>
    <a @click="generatePrefactura" v-if="stock.length > 0">Realizar prefactura</a>
  </div>
</template>

<script>
import StoreItem from "./StoreItem.vue";
import api from "@/api";

export default {
  name: 'StorePage',
  components: {
    StoreItem
  },
  data() {
    return {
      stock: {
        type: Array
      },
      clientId: this.$route.params.id
    }
  },
  props: {
    store: Object
  },
  computed: {
    urlDeposit: function() {
      return `/deposit/${this.clientId}`;
    },
    urlSale: function() {
      return `/sale/${this.clientId}`;
    },
    urlPrefactura: function() {
      return `/prefactura/${this.clientId}`;
    }
  },
  mounted: function() {
    this.loadStoreItems();
    this.loadStore();
  },
  methods: {
    async loadStore() {
      this.store = await api.generateSingleClientData(this.clientId);
    },
    async loadStoreItems() {
      this.stock = await api.getStoreStock(this.clientId);
    },
    makeDeposit() {
      this.$router.push(this.urlDeposit);
    },
    makeSale() {
      this.$router.push(this.urlSale);
    },
    generatePrefactura() {
      this.$router.push(this.urlPrefactura);
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  display: inline-block;
  margin-top: 1.2rem;
  margin-left: 0.5rem;
  text-decoration: none;
  background-color: #313537;
  color: #fff;
  padding: 5px 15px 5px 15px;
  border-top: 1px solid #313537;
  border-right: 1px solid #313537;
  border-bottom: 1px solid #313537;
  border-left: 1px solid #313537;
  cursor: pointer;
}
a:hover {
  background-color: #fff;
  color: #313537;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
}
</style>
