<template>
  <div class="edit-product-info">
    <div>
      <EditProductInfo :productToEdit="product" @emitValidateEditProduct="editProduct" />
     
    </div>

  </div>
</template>

<script>
import EditProductInfo from "./EditProductInfo.vue";
import api from "@/api";

export default {
  name: "EditProductPage",
  components: {
    EditProductInfo,
    
  },
  data() {
    return {
      product: {},
      productId: this.$route.params.id
    }
  },
  mounted: function() {
    this.loadProduct();
  },
  methods: {
    async loadProduct() {
      this.product = await api.generateProductData(this.productId);
    },
    async editProduct(product) {
      console.log("Producto")
      await api.updateProductData(product);
    },  
  },
  }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>