<template>
  <div class="edit-product">
    <h1>{{ msg }}</h1>
    
    <p class="edit-fields">
      Referencia:
      <input
        type="text"
        @focus="referenceError = false"
        class="item-reference"
        @keyup.enter="validateFields"
        v-model="editProduct.reference_number"
        placeholder="Nombre de la tienda"
      />
    </p>
    <p class="error-text" v-if="referenceError">
      Debes indicar una referencia
    </p>
    <p class="edit-fields">
      Nombre del producto:
      <input
        type="text"
        @focus="itemNameError = false"
        class="item-name"
        @keyup.enter="validateFields"
        v-model="editProduct.item_name"
        placeholder="Dirección del cliente"
      />
    </p>
    <p class="error-text" v-if="itemNameError">
      Introduce un nombre para el artículo
    </p>
    <p class="edit-fields">
      Colour:
      <input
        type="text"
        @focus="colourError = false"
        class="item-colour"
        @keyup.enter="validateFields"
        v-model="editProduct.colour"
        placeholder="Color"
      />
    </p>
    <p class="error-text" v-if="colourError">Color del producto</p>
    <p class="edit-fields">
      Descripción:
      <input
        type="text"
        @focus="descriptionError = false"
        class="item-desc"
        @keyup.enter="validateFields"
        v-model="editProduct.description"
        placeholder="Descripcion"
      />
    </p>
    <p class="error-text" v-if="descriptionError">Como es ?</p>
    <p class="edit-fields">
      Size:
      <input
        type="text"
        @focus="sizeError = false"
        class="item-size"
        @keyup.enter="validateFields"
        v-model="editProduct.size"
        placeholder=""
      />
    </p>
    <p class="error-text" v-if="sizeError">
      Introduce numero de telefono
    </p>
    <p class="edit-fields">
      talla:
      <input
        type="text"
        @focus="tallaError = false"
        class="item-talla"
        @keyup.enter="validateFields"
        v-model="editProduct.talla"
        placeholder=""
      />
    </p>
    <p class="error-text" v-if="tallaError">
      talla
    </p>
    <p class="edit-fields">
      precio:
      <input
        type="text"
        @focus="priceError = false"
        class="item-price"
        @keyup.enter="validateFields"
        v-model="editProduct.price"
        placeholder=""
      />
    </p>
    <p class="error-text" v-if="priceError">
      precio
    </p>
    <p class="edit-fields">
      photo:
      <input
        type="text"
        @focus="photoError = false"
        class="item-price"
        @keyup.enter="validateFields"
        v-model="editProduct.photo"
        placeholder=""
      />
    </p>
    <p class="error-text" v-if="photoError">
      foto
    </p>

    <div class="validate-client">
      <a @click="emitValidateEditProduct">Dar de alta</a>
      <a @click="emitBackToCatalogue">Volver a la lista</a>

      <!--<button @click="emitEDitClient">Modificar cliente</button>-->
    </div>
  </div>
</template>

<script>
export default {
  name: "EditProductInfo",

  data() {
    return {
      msg: "",
      editProduct: {
       
        reference_number: this.productToEdit.reference_number,
        item_name: this.productToEdit.item_name,
        colour: this.productToEdit.colour,
        description: this.productToEdit.description,
        size: this.productToEdit.size,
        talla: this.productToEdit.talla,
        price: this.productToEdit.price,
        photo: this.productToEdit.photo,
        category_id: this.productToEdit.category_id
      },
      referenceError: false,
      itemNameError: false,
      colourError: false,
      descriptionError: false,
      sizeError: false,
      tallaError: false,
      priceError: false,
      photoError: false,
    };
    
  },
  props: {
    productToEdit: {
      type: Object,
    },
  },
  methods: {
    emitBackToCatalogue() {
      this.$router.push("/catalogue");
    },
    emitValidateEditProduct() {
      this.validateFields();
      if (this.error === false) {
        this.$emit("emitValidateEditProduct", this.editProduct);
      }
      //this.$emit("emitValidateeditProduct", this.editProduct);
    },
    validateEmail(email) {
      var re = new RegExp(/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/);
      const result = re.test(String(email).toLowerCase());
      return result;
    },
    validateFields() {
      
      if (this.editProduct.reference_number === null) {
        this.error = true;
        this.referenceError = true;
      }
      if (this.editProduct.item_name === null) {
        this.error = true;
        this.itemNameError = true;
      }
      if (this.editProduct.colour === null) {
        this.error = true;
        this.colourError = true;
      }
      if (this.editProduct.description === null) {
        this.error = true;
        this.descriptionError = true;
      }
      if (this.editProduct.size === null) {
        this.error = true;
        this.sizeError = true;
      }
      if (this.editProduct.talla === null) {
        this.error = true;
        this.tallaError = true;
      }
      if (this.editProduct.price === null) {
        this.error = true;
        this.priceError = true;
      }
      if (this.editProduct.photo === null) {
        this.error = true;
        this.photoError = true;
      }
      this.error = false;
    },
  },
  watch: {
    productToEdit: {
      immediate: true,
      handler: function(productToEdit) {
        this.editProduct = JSON.parse(JSON.stringify(productToEdit));
        
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.stores {
  margin-top: 1.5rem;
  border-top: black 5px double;
}
.edit-fields{
      padding: 10px;
    position: relative;
    width: 70%;
    margin-left: 24rem;
    text-align: left;
    
}

.edit-fields input{
   float: right;
   margin-right: 23rem;

}
a {
  display: inline-block;
  margin-top: 1.2rem;
  text-decoration: none;
  background-color: #313537;
  color: #fff;
  padding: 5px 15px 5px 15px;
  border-top: 1px solid #313537;
  border-right: 1px solid #313537;
  border-bottom: 1px solid #313537;
  border-left: 1px solid #313537;
  cursor: pointer;
}
a:hover {
  display: inline-block;
  margin-top: 1.2rem;
  text-decoration: none;
  background-color: #fff;
  color: #313537;
  padding: 5px 15px 5px 15px;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
}
</style>
