<template>
  <div class="add-edit-store-info">
    <div>
      <AddStoreInfo @emitValidateNewClient="addNewClient" />
     
    </div>

  </div>
</template>

<script>
import AddStoreInfo from "./AddStoreInfo.vue";
import api from "@/api";

export default {
  name: "AddEditStorePage",
  components: {
    AddStoreInfo,
    
  },

  methods:{
    async addNewClient(newClient) {
      console.log("Cliente")
      await api.createClient(newClient);
    },  
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>





</style>
