<template>
  <div class="singleClient">
    <SingleClientItem :receivedClient="client"/>
  </div>
</template>

<script>
import SingleClientItem from "./SingleClientItem.vue";
import api from "@/api"

export default {
  name: 'SingleClientPage',
  components: {
    SingleClientItem
  },
  data() {
    return {
      client: {},
      clientId: this.$route.params.id
    }
  },
  mounted: function() {
    this.loadClient();
  },
  methods: {
    async loadClient() {
      this.client = await api.generateSingleClientData(this.clientId);
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
