<template>
  <div class="ClientItem">
    <h1>{{localClient.city}}</h1>
    <p>
      <h3>CIF:</h3> {{localClient.cif}}
      <h3>Nombre del cliente:</h3> {{localClient.contactName}}
      <h3>Dirección:</h3>
      {{localClient.address}}, código postal {{localClient.postalCode}}, {{localClient.city}}
      <h3>Número de teléfono:</h3>
      {{localClient.phoneNumber}}
      <h3>Correo electrónico:</h3>
      {{localClient.email}}
  </div>
</template>

<script>

export default {
  //import: '@/api.js',
  name: 'SingleClientItem',
  data() {
    return {
      baseImgUrl: "@/assets/",
      localClient: {
        id: null,
        cif: null,
        contactName: null,
        address: null,
        postalCode: null,
        city: null,
        phoneNumber: null,
        email: null
      }
    }
  },
  props: {    
    receivedClient: {
      type: Object
    },
  },
  watch: {
    receivedClient: {
      immediate: true,
      handler: function(receivedClient) {
        this.localClient = JSON.parse(JSON.stringify(receivedClient));
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin-bottom: 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
</style>
