<template>
  <div id="app">
    <img src="@/assets/logo.png" class="logo"/>
    <div id="web">
      <router-link to="/catalogue">Catálogo</router-link> ||
      <router-link to="/storesinfo">Tiendas</router-link>
      <router-view></router-view>
    </div>
  </div>
</template>

<script>

export default {
  name: "App",
  watch: {
    $route: {
      immediate: true,
      handler(to) {
        document.title = to.meta.title || 'Perpetum Mobile';
      }
    },
  }
};
</script>

<style>
#web {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 50px;
  color: #444;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: .1em;
  padding: 5px 15px 5px 15px;
  line-height: 19px;
  border-bottom: 2px solid transparent;
}
.logo {
  margin-top: -50px;
  position: absolute;
  width: 270px;
}
a:hover {
  text-decoration: underline;
  color: #5e5e5e;
}
a {
  text-decoration: none;
  color: #5e5e5e;
}
</style>
