<template>
  <div class="deposit-basket-list">
    <h3>Productos seleccionados</h3>
    <div v-for="item in basket" :key="item.id">
      <DepositBasketItem :item="item" @emitProductToDelete="deleteProductFromBasket"/>
    </div>
    <a @click="confirmDeposit" class="a-button">Confirmar</a>
  </div>
</template>

<script>
import DepositBasketItem from "./DepositBasketItem.vue";

export default {
  name: 'DepositBasketList',
  components: {
    DepositBasketItem
  },
  props: {
    basket: Array
  },
  methods: {
    confirmDeposit() {
      this.$emit("confirmDeposit", this.basket);
    },
    deleteProductFromBasket(item) {
      console.log("Holi", this.basket.indexOf(item));
      this.basket.splice(this.basket.indexOf(item), 1)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.catalogue {
  margin-top: 1.5rem;
  border-top: black 5px double;
}

.a-button {
  display: inline-block;
  margin-top: 1.2rem;
  text-decoration: none;
  background-color: #313537;
  color: #fff;
  padding: 5px 15px 5px 15px;
  border-top: 1px solid #313537;
  border-right: 1px solid #313537;
  border-bottom: 1px solid #313537;
  border-left: 1px solid #313537;
  cursor: pointer;
}

.a-button:hover {
  background-color: #fff;
  color: #313537;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
}
</style>
