<template>
  <div class="depositProductItem">
    <a @click="emitProductToAdd">{{this.product.item_name}}</a>
  </div>
</template>

<script>
export default {
  name: "DepositProductItem",
  props: {
    product: {
      type: Object
    }
  },
  methods: {
    emitProductToAdd() {
      this.$emit("emitProductToAdd", this.product);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  cursor: pointer;
}
</style>