<template>
  <div class="deposit-Page" >
    <h1>Depósito</h1>
    <DepositProductList @emitProductToAdd="addProductToBasket" />
    <DepositBasketList v-if="basket.length > 0" :basket="this.basket" @confirmDeposit="confirmDeposit"/>
  </div>
</template>

<script>
import DepositProductList from "./DepositProductList.vue";
import DepositBasketList from "./DepositBasketList.vue";
import api from "@/api";

export default {
  name: "DepositPage",
  components: {
    DepositProductList,
    DepositBasketList
  },
  data() {
    return {
      basket: [],
      clientId: this.$route.params.id
    }
  },
  computed: {
    urlStore: function() {
      return `/store/${this.clientId}`;
    }
  },
  methods: {
    addProductToBasket(chosenProduct) {
      if(!this.isSelected(chosenProduct)) {
        this.basket.push({chosenProduct, quantity: null, date: null });
      }
    },
    isSelected(product) {
      for(var i  = 0; i < this.basket.length; i++) {
        if (this.basket[i].chosenProduct.id === product.id) {
          return true;
        }
      }
      return false;
    },
    async confirmDeposit() {
      await api.addDeposit(this.clientId, this.basket);
      this.$router.push(this.urlStore);
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.client-Page{
  margin-top: 1.5rem;
  border-top: black 5px double;
}
</style>