<template>
  <div class="depositBasketItem">
    {{this.item.chosenProduct.item_name}}
    <input type="number" min="1" v-model="item.quantity" placeholder="Cantidad">
    <input type="date" min="1" v-model="item.date" placeholder="DD/MM/AAAA">
    <img src="@/assets/delete.png" alt="" @click="deleteFromBasket">
  </div>
</template>

<script>
export default {
  name: "depositBasketItem",
  props: {
    item: {
      type: Object
    }
  },
  methods: {
    deleteFromBasket() {
      this.$emit("emitProductToDelete", this.item);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.depositBasketItem {
  margin-top: 0.7rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  margin-right: 0.3rem;
  width: 3.3rem;
  height: 1rem;
}

input[type=date] {
  width: 7rem;
  height: 1rem;
}

input {
  vertical-align: middle;
}

img {
  width: 25px;
  vertical-align: middle;
  margin-left: 0.2rem;
  cursor: pointer;
}
</style>