<template>
  <div class="movements-list">
    <h1>{{msg}}</h1>
    <div v-for="movementToDo  in movementsData" :key="movementToDo.id">
      <MovementsItem :movementToDo="movementToDo" /> 
    </div>
  </div>
</template>

<script>
//import api from '@/api.js';

import MovementsItem from "./MovementsItem.vue"
export default {
  name: 'MovementsList',
  components: {
    MovementsItem,
  },
  data() {
    return {
      msg:'Movimientos',
      movementToDo: {
        type: Array
      }
    }
  },
  props: {

    movementsData: {
      type: Object
    }
  },  
 
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
