<template>
  <div class="movements">
    <h1>{{msg}}</h1>
      <MovementsList :movementsData="movementsData" /> 
    
      <a class="buttonAdd" @click="addMovement = !addMovement">Añade movimiento</a>
    
    <div  v-if="addMovement" id="hide">
      <h2>Especifica tipo de movimiento</h2>
      <input type="text" v-model="addMovementType" placeholder="Añade un nuevo movimiento" />
      <a class="validate-button" >Validar</a>
    </div>


  </div>
</template>

<script>
//import api from '@/api.js';

import MovementsList from "./MovementsList.vue";

export default {
  name: 'MovementsPage',
  components: {
    MovementsList
  },
  props:{
    msg : String,
  },
  data() {
    return {
      addMovementType:'',
      addMovement:false,
      movementsData: {
        type: Array
      }
    }
  },
  mounted: function() {
    this.loadMovementList();
  },
  methods: {
        loadMovementList() {
            this.movementsData = this.generateMovementsData();
        },
     
    generateMovementsData() {
      
      const result = [
        {id: 1, movementName: "Venta" },
        {id: 2, movementName: "Compra"},
        {id: 3, movementName: "Cesión"},
        {id: 4, movementName: "Regalo"}
      ];
      return result;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.movements {
  margin-top: 1.5rem;
 border-top: black 5px double;
}

.buttonAdd {
  display: inline-block;
  margin-top: 1.2rem;
  text-decoration: none;
  background-color: #313537;
  color: #fff;
  padding: 5px 15px 5px 15px;
  border-top: 1px solid #313537;
  border-right: 1px solid #313537;
  border-bottom: 1px solid #313537;
  border-left: 1px solid #313537;
  cursor: pointer;
}
.validate-button {
  display: inline-block;
  margin-top: 1.2rem;
  text-decoration: none;
  background-color: #313537;
  color: #fff;
  padding: 5px 15px 5px 15px;
  border-top: 1px solid #313537;
  border-right: 1px solid #313537;
  border-bottom: 1px solid #313537;
  border-left: 1px solid #313537;
  cursor: pointer;
}

.buttonAdd:hover {
  display: inline-block;
  margin-top: 1.2rem;
  text-decoration: none;
  background-color: #fff;
  color: #313537;
  padding: 5px 15px 5px 15px;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
}
.validate-button:hover {
  display: inline-block;
  margin-top: 1.2rem;
  text-decoration: none;
  background-color: #fff;
  color: #313537;
  padding: 5px 15px 5px 15px;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
}
</style>
