<template>
  <div class="movements-item">
    <h1>{{msg}}</h1>
      {{movement}}
        <a class="edit-button" id="edit" @click="emitButtonEdit">Edit</a>
        <a class="delete-button" id="delete" @click="emitButtonDelete">Delete</a>
        
    
  </div>
</template>

<script>
//import api from '@/api.js';


export default {
  name: 'MovementsItem',
  data() {
    return {
      msg:''
    }
  },
  props: {
    movementToDo: {
      type: Object
    }
  },  
  methods: {
        emitButtonEdit() {
            this.$emit('button-edit-event',this.movementToDo.id)
        },
        emitButtonDelete() {
            this.$emit('button-delete-event',this.movementToDo.id)
        },
    },
  computed: {
    movement: function() {
      return `${this.movementToDo.movementName}`;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
a {
  color: #42b983;
}

.movements-item {
  margin-top: 1.5rem;
}

.edit-button {
  display: inline-block;
  margin-top: 1.2rem;
  text-decoration: none;
  background-color: #313537;
  color: #fff;
  padding: 5px 15px 5px 15px;
  border-top: 1px solid #313537;
  border-right: 1px solid #313537;
  border-bottom: 1px solid #313537;
  border-left: 1px solid #313537;
  cursor: pointer;
}
.delete-button {
  display: inline-block;
  margin-top: 1.2rem;
  text-decoration: none;
  background-color: #313537;
  color: #fff;
  padding: 5px 15px 5px 15px;
  border-top: 1px solid #313537;
  border-right: 1px solid #313537;
  border-bottom: 1px solid #313537;
  border-left: 1px solid #313537;
  cursor: pointer;
}

.edit-button:hover {
  display: inline-block;
  margin-top: 1.2rem;
  text-decoration: none;
  background-color: #fff;
  color: #313537;
  padding: 5px 15px 5px 15px;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
}
.delete-button:hover {
  display: inline-block;
  margin-top: 1.2rem;
  text-decoration: none;
  background-color: #fff;
  color: #313537;
  padding: 5px 15px 5px 15px;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
}
</style>
